# yaml-language-server: $schema=https://github.com/redhat-developer/vscode-tekton/raw/refs/heads/main/scheme/tekton.dev/v1_Task.json
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: pingcap-create-github-releases
spec:
  description: create github releases on product GitHub repositories.
  params:
    - name: version
      description: the release semver tag name, e.g. v5.0.0
  workspaces:
    - name: github
      description: Must includes a key `token`
  stepTemplate:
    image: docker.io/denoland/deno:alpine-2.2.5
  steps:
    - name: create-releases
      script: |
        deno run --allow-all https://github.com/PingCAP-QE/ci/raw/main/scripts/flow/ga/create_github_release.ts \
          --version="$(params.version)" \
          --token="$(cat $(workspaces.github.path)/token)"
    - name: create-branches
      onError: continue # it's not so important.
      script: |
        deno run --allow-net https://github.com/PingCAP-QE/ci/raw/main/scripts/flow/ga/create-patch-release-branches.ts \
          --version="$(params.version)" \
          --token="$(cat $(workspaces.github.path)/token)"
