# yaml-language-server: $schema=https://github.com/redhat-developer/vscode-tekton/raw/refs/heads/main/scheme/tekton.dev/v1_Task.json
apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: tag-rc2ga-on-oci-artifacts
spec:
  description: include images and non-image artifacts.
  params:
    - name: rc-version
      description: >
        the rc tag of artifacts repos, example: v1.1.1-pre
    - name: ga-version
      description: >
        the GA publish tag of artifacts repos, example: v1.1.1
    - name: registry
      default: hub.pingcap.net
    - name: force
      default: "false"
      description: force to create tag whether it existed or not.
  steps:
    - name: run
      image: ghcr.io/pingcap-qe/cd/utils/release:v2025.10.12-7-gfdd779c
      args:
        - "$(params.rc-version)"
        - "$(params.ga-version)"
        - "$(params.registry)"
        - "$(params.force)"
      script: |
        #! /usr/bin/env bash
        set -ex

        rc_ver="$1"
        ga_ver="$2"
        registry="$3"
        force="$4"

        wget -c --tries=3 https://github.com/PingCAP-QE/ci/raw/main/scripts/artifacts/tag-rc2ga-on-repos.sh
        chmod +x tag-rc2ga-on-repos.sh

        ./tag-rc2ga-on-repos.sh "$rc_ver" "$ga_ver" "$registry" "$force" results.yaml
        cat results.yaml
