presubmits:
  ti-community-infra/configs:
    - name: pull-configs-validate-prow-yaml
      decorate: true
      run_if_changed: "prow/config/"
      branches:
        - ^main$
      spec:
        containers:
          - image: ghcr.io/ti-community-infra/prow/checkconfig:v20251023-c4199afa4
            command:
              - /ko-app/checkconfig
            args:
              - --plugin-config=prow/config/plugins.yaml
              - --config-path=prow/config/config.yaml
              - --job-config-path=prow/jobs
    - name: pull-configs-validate-external-plugin-yaml
      decorate: true
      run_if_changed: "prow/config/external_plugins_config.yaml"
      branches:
        - ^main$
      spec:
        containers:
          - image: ticommunityinfra/tichi-check-external-plugin-config:v2.0.4
            command:
              - check-external-plugin-config
            args:
              - --external-plugin-config-path=prow/config/external_plugins_config.yaml
    - name: pull-configs-validate-labels-yaml
      decorate: true
      run_if_changed: "prow/config/labels.*"
      branches:
        - ^main$
      spec:
        containers:
          - image: golang:1.18
            command:
              - scripts/verify-labels.sh
    - name: pull-configs-validate-orgs
      decorate: true
      run_if_changed: orgs/
      branches:
        - ^main$
      max_concurrency: 1
      spec:
        containers:
          - image: golang:1.18
            command:
              - scripts/peribolos.sh
            args:
              - --config-path=orgs/config.yaml
              - --github-token-path=/etc/github/token
              - --github-endpoint=http://prow-ghproxy.apps
              - --github-endpoint=https://api.github.com
              - --min-admins=2
              - --fix-org
              - --fix-org-members
              - --fix-teams
              - --fix-team-members
              - --fix-team-repos
              - --tokens=1200
              - --confirm=false
            volumeMounts:
              - name: github-token
                mountPath: /etc/github
                readOnly: true
        volumes:
          - name: github-token
            secret:
              secretName: github-token
    - name: pull-verify-gitops-prow-configs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      run_if_changed: "prow/config/"
      branches:
        - ^main$
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, flux-system]
            args:
              - build
              - kustomization
              - prow-configs
              - --path=prow
              - --kustomization-file=../../PingCAP-QE/ee-ops/apps/gcp/prow/pre/prow-configs.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
    - name: pull-verify-gitops-prow-cronjobs
      decorate: true
      extra_refs:
        - org: PingCAP-QE
          repo: ee-ops
          base_ref: main
          repo_link: https://github.com/PingCAP-QE/ee-ops
      run_if_changed: "prow/cronjobs/"
      branches:
        - ^main$
      spec:
        containers:
          - name: main
            image: ghcr.io/fluxcd/flux-cli:v2.0.0-rc.4
            securityContext:
              runAsUser: 0 # the default user or the image is not root.
            command: [flux, -n, flux-system]
            args:
              - build
              - kustomization
              - prow-post-cronjobs-community
              - --path=prow/cronjobs
              - --kustomization-file=../../PingCAP-QE/ee-ops/apps/gcp/prow/post/cronjobs-community.yaml
              - --dry-run
            resources:
              limits:
                memory: 256Mi
                cpu: 200m
