apiVersion: v1
kind: Pod
spec:
  securityContext:
    fsGroup: 1000
  containers:
    - name: deno
      image: denoland/deno:1.33.2
      command: [sh]
      tty: true
      resources:
        limits:
          memory: 1Gi
          cpu: 500m
      env:
        - name: TOKEN
          valueFrom:
            secretKeyRef:
              key: token
              name: security-server-api-token
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                  - amd64
